.predict-head {
  color: #144b9d;
  width: 85%;
  margin: 20px auto 0px;
}
.predict-list {
  min-height: 492px;
  margin-bottom: 30px;
}
.predict-card {
  align-items: center;
  padding-top: 10px;
  margin: 10px;
  color: black !important;
}
.predict-card-link {
  text-decoration: none !important;
}
.predict-coin-img {
  width: 20%;
}
